* {
	padding: 0;
	margin: 0;
}
body {
	font-family: arial, sans-serif;
	background: url("/img/background.jpg") no-repeat #0e4f79;
	background-size: cover;
}
h1 {
	font-size: 60px;
	padding: 20px 20px 0px 20px;
	color: white;
	text-shadow: 2px 2px black;
}
h2 {
	font-size: 35px;
	padding-bottom: 10px;
}
li {
	list-style: none;
	display: block;
	background-color: rgba(255,255,255,.8);
	padding: 20px;
	margin: 20px;
}
ul li div i {
	display: block;
	float: left;
	padding-right: 20x;
}
div.temp {
	font-size: 30px;
	float: left;
	padding: 10px 100px 0px 0px;
}
div.temp sup {
	font-size: 15px;
}
